
body {
    background-image: url("prova3.jpg");
    background-repeat: no-repeat;
    overflow: hidden;
}

nav {
  background-color: rgba(112, 128, 144,.2);
}
nav a {
  color: #28A745 !important;
  
}
.main{
    overflow: auto;
    height: 100vh;
}
.container-fluid {
  height: calc(100vh - 56px);
}
.cds-container {
  min-height: calc(100vh - 156px);
}
/* Cards Animation  */
.flip-card {
    background-color: transparent;
    min-height: 324px;
    width: 210px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    min-height: 324px;
    text-align: center;

    transition: transform 2s ease-in-out;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {

    transform: rotateY(180deg);
    /* transform-origin: 30% 40%; */

  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    min-height: 324px;
    width: 210px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    color:rgba(255,255,255,.9);
    background-color: rgba(112, 128, 144,.2);
    font-size: 1.4rem;
    min-height: 324px;
    width: 210px;  
  }

  
 
  
  .flip-card-back {
    left: 65px;
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }

  .flip-card-back img {
    min-height: 324px;
    width: 350px;
    z-index: 999;
  }



.flip-card-front h3 {
    font-size: 1.4rem;
}
.flip-card-front img {
    width: 150px;
    height: 150px;
}

.footer {
  border-top: 2px solid #28A745;
  background-color: black;
  
}

footer img {
  width: 25px;
} 